@import url('https://fonts.googleapis.com/css2?family=Honk&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

::selection {
    color: white;
    background-color: red;
}

html {
    height: 100%;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.logobanner {
    width: 4%;
}

.logobannerh1 * {
    width: 50%;
}

.contenedorfotoheader picture {
    margin-left: 26%;
}

.navegacion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcefef;
    border-bottom: 1px solid black;
}

.banner {
    width: 15%;
    height: 10%;

}

nav {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: #000 solid 1px;*/
    margin: 1%;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 50px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

nav ul li a:hover {
    text-decoration: underline red;


}

/*---------------------------------------------*/
main {
    margin: 1%;
}

form {
    border: 1px solid black;
    width: 50%;
    padding: 3%;
    -webkit-box-shadow: 0px 0px 43px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 43px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 43px -7px rgba(0, 0, 0, 0.75);
    margin: 2%;
    border-radius: 10px;
}
.generoform{
    display: flex;
    justify-content: center;
    gap: 2%;
    margin: 1em;
}
input {
    border: none;
    border-bottom: 2px solid red;
}


fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonesform {
    display: flex;
    justify-content: center;
    margin: 3%;
    gap: 2%;
}
.botonform{
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 1em;
    border-radius: 10px;
}
.botonform:hover{
    background-color: #ff0000af;
}
.contenedorform {
    display: flex;
    justify-content: center;
    align-items: center;
}

picture * {
    width: 300%;
}

.botonvolver {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

a.my-button {
    background: linear-gradient(to right, #ff0000, #000000);
    background-color: #ff0000;
    color: #fff;
    font-size: 1.3em;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border: 0px solid #000;
    border-radius: 10px;
    display: inline-block;
}

a.my-button:hover {
    background: linear-gradient(to right, #ff5151, #515151);
    background-color: #ff5151;
}

a.my-button:active {
    transform: scale(0.95);
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0.5px solid red;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: red;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid red;
}
input[type='checkbox'] {
    accent-color: red;
  }

/* FOOTER */

footer {
    display: grid;
    place-items: center;
    background-color: #fcefef;
    padding-top: 1rem;
    border-top: 1px solid black;
    font-size: 1.3em;
}

.contenedorfooter {
    display: flex;
    flex-direction: row;
    width: 95%;
}

#foot1 {
    flex: 4;
}

#foot2 {
    flex: 2;
}

.foot2 p {
    display: flex;
    align-items: center;
}

.instagram:hover {
    color: rgb(246, 3, 185);
}

.facebook:hover {
    color: blue;
}

.twitter:hover {
    color: cornflowerblue;
}

@media only screen and (max-width: 601px) {
    .navegacion {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    footer {
        font-size: 1em;
    }
}