@import url('https://fonts.googleapis.com/css2?family=Honk&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

::selection{
    color: white;
    background-color: red;
}

html {
    height: 100%;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.contenedorfotoheader{
    width: 100%;
    display: flex;
    justify-content: center;
}
.fotoheader{
    width: 70%;
}
.navegacion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner {
    width: 15%;
    height: 10%;

}

nav {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: #000 solid 1px;*/
    margin: 1%;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 50px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

nav ul li a:hover {
    text-decoration: underline red;


}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1%;
}

.leermas:hover {
    color: red;
    text-decoration: underline red;
}

h1 {
    text-align: center;
}

.secciones {
    /* border: 1px solid #000000; */
    flex: 4;
    margin: 1%;
    display: grid;
    place-items: center;
}

.secciones section {
    width: 99%;
    margin: 10px;
    /* border: 1px solid #000000;*/
}

.secciones section p {
    margin: 10px;
}

.secciones section H2 {
    margin: 10px;
}

main aside {
    flex: 2;
    margin: 1%;
}

.noticia {
    display: grid;
    grid-template-columns: 20% 80%;
    font-size: 20px;
}

.dacia {
    width: 430%;
}

.imagenNoticia {
    width: 20%;
    display: flex;
    align-items: center;
}

.textoNoticia {
    width: 80%;
}

.textoNoticia h2:hover {
    color: red;
    border-bottom: red 1px solid;
}

.seat {
    width: 450%;
}

.mercedes {
    width: 430%;
}

.cupra {
    width: 430%;
}

.toyota {
    width: 500%;
}

.ferrari {
    width: 380%;
}

.amartin {
    width: 450%;
}

.mclaren {
    width: 380%;
}

.busqueda {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.formbusqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.textobusqueda {
    width: 95%;
    border: none;
    border-bottom: 1px solid #000;
}

.imgbusqueda {
    width: 5%;
}

.mininoticia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1%;
}
.mininoticia img {
    width: 50%;
}
.subirboton{
    display: flex;
    justify-content: end;
}
.subir{
    width: 3em;
    border: 2px solid black;
    border-radius: 100%;
    height: 3em;
    margin: 1%;
}
.imagenarriba{
    width: 90%;
    display: block;
    margin: auto;
    
}
picture *{
    width: 300%;
}
footer{
    display: grid;
    place-items: center;
    background-color: rgb(228, 223, 223);
    padding-top: 1rem;
    border-top: 1px solid black;
    font-size: 1.3em;
}
.contenedorfooter{
    display: flex;
    flex-direction: row;
    width: 95%;
}
.foot1{
    flex: 4;
}
.foot2{
    flex: 2;
}
.foot2 p{
    display: flex;
    align-items: center;
}
.instagram:hover{
    color: rgb(246, 3, 185);
}

.facebook:hover{
    color: blue;
}

.twitter:hover{
    color: cornflowerblue;
}