@import url('https://fonts.googleapis.com/css2?family=Honk&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

::selection{
    color: white;
    background-color: red;
}
*{
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    overflow-x: hidden;
}
/* HEADER Y NAV*/
.logobanner{
    width: 4%;
}
.logobannerh1 *{
    width: 50%;
}
.contenedorfotoheader picture{
margin-left: 26%;
}
.navegacion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcefef;
    border-bottom: 1px solid black;
}
.banner {
    width: 15%;
    height: 10%;

}

nav {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: #000 solid 1px;*/
    margin: 1%;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 50px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: red;
}
.user:hover{
    color: red;
}

/* MAIN */
main {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1%;
}

.leermas:hover {
    color: red;
    text-decoration: underline red;
}

h1 {
    text-align: center;
}

.secciones {
    /* border: 1px solid #000000; */
    flex: 4;
    margin: 1%;
    display: grid;
    place-items: center;
}


main aside {
    flex: 2;
    margin: 1%;
}

.noticia {
    display: grid;
    grid-template-columns: 20% 80%;
    font-size: 20px;
}

.dacia {
    width: 430%;
}

.imagenNoticia {
    width: 20%;
    display: flex;
    align-items: center;
}

.textoNoticia {
    width: 80%;
}

.textoNoticia h2:hover {
    color: red;
    border-bottom: red 1px solid;
}

.seat {
    width: 450%;
}

.mercedes {
    width: 430%;
}

.cupra {
    width: 430%;
}

.toyota {
    width: 500%;
}

.ferrari {
    width: 380%;
}

.amartin {
    width: 450%;
}

.mclaren {
    width: 380%;
}

.busqueda {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.formbusqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.textobusqueda {
    width: 95%;
    border: none;
    border-bottom: 1px solid #000;
}

.imgbusqueda {
    width: 5%;
}

.mininoticia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1%;
}
.mininoticia img {
    width: 50%;
}
.subirboton{
    display: flex;
    justify-content: end;
    width: 3em;
}
.contenedorsubir{
    display: flex;
    justify-content: end;
}
.subir{
    width: 3em;
    border: 2px solid black;
    border-radius: 100%;
    height: 3em;
    margin: 2%;
    margin-bottom: 30%;
}
.imagenarriba{
    width: 90%;
    display: block;
    margin: auto;
    
}
picture *{
    width: 300%;
}
table{
    border-collapse: collapse;
    text-align: center;
}
table td, th{
    border: 1px solid black;
}
.grisoscuro{
    background-color: #aeaeae;
}
.grisclaro{
    background-color: #e3e1e1;
}
.NoticiasHoy{
    background-color: #c9f3ff !important;
    padding: 1%;
}
.articulo1{
    background-color: #def7fe;
    padding: 1%;
    border-radius: 10px;
}
.NoticiasSemanales{
    background-color: #f7ffac !important;
    padding: 1%;
}
.articulo2{
    background-color: #f7fdc4;
    padding: 1%;
    border-radius: 10px;
}
.NoticiasMensuales{
    background-color: #dba8d0ed !important;
    padding: 1%;
}
.articulo3{
    background-color: #eacae3ed;
    padding: 1%;
    border-radius: 10px;
}



/* FOOTER */

footer{
    display: grid;
    place-items: center;
    background-color: #fcefef;
    padding-top: 1em;
    border-top: 1px solid black;
    font-size: 1.3em;
}
.contenedorfooter{
    display: flex;
    flex-direction: row;
    width: 95%;
}
#foot1{
    flex: 4;
}
#foot2{
    flex: 2;
}
.foot2 p{
    display: flex;
    align-items: center;
}
.instagram:hover{
    color: rgb(246, 3, 185);
}

.facebook:hover{
    color: blue;
}

.twitter:hover{
    color: cornflowerblue;
}
@media only screen and (max-width: 601px){
    .navegacion{
        display: flex;
        flex-direction: column;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
    nav ul{
        display: flex;
        flex-direction: column;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    .contenedorsubir{
        justify-content: center;
    }
    footer{
        font-size: 1em;
    }
}